.text-center {
  text-align: center;
  font-size: 20px;
}
.text-center a {
  width: 100%;
  margin-left: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: underline;
  color: blue;
}

.h1 {
  font-family: "segoe script";
  font-size: 25px;
  text-decoration: underline;
  text-align: justify;
}

.p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align: justify;
}

.slogan {
  font-family: elephant;
  color: red;
  font-size: 25px;
  text-align: center;
}

html {
  font-size: 20px;
}

.test {
  border: 1px solid red;
}
.bandeau {
  background: url(/assets/img/fond-nuage.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-sof {
  display: flex;
  justify-content: center;
}

body,
html {
  margin: 1%;
  padding: 5px;
}
